.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-wrapper a {
  padding-left: 30px;
  text-decoration: none;
}

.mt-20 {
  margin-top: 30px;
}

.btn-secon {
  background-color: #9516a9;
  color: #9516a9;
}

.-m10 {
  display: flex;
  justify-content: start;
  color: red;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 5rem;
  width: 87%;
}



.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product-card {
  width: 300px;
  background-color: #fff;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.product-image {
  width: 100%;
  border-radius: 5px;
}

.product-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-price {
  color: #007bff;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.edit-button,
.delete-button {
  padding: 8px;
  cursor: pointer;
}

.edit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
}


.updateImg{
  width:150px;
  margin: 1rem;
  justify-content: start;
  display: flex;

}

.search-container {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}